.toastDiv{
    text-align: center;
    background-color: white;
    padding: .6em;
    margin: .6em;
    width: 300px;
    position: absolute;
    left: 80%;
    top: 90%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.toastBtn{
    float: right;
    background: none;
    border: none;
}

.toastBtn:hover{
    cursor: pointer;
}